
html {
    --nar-color: #A26F01;
    --nar-hi-color: #e97100;
}

#app-frame {
    left: 160px;
    top: 50px;
    width: 680px;
    height: 660px;
    border-radius: 40px;
    background-color: #fdf3c9;
}

#core-frame {
    left: 40px;
    top: 40px;
    width: 600px;
    height: 380px;
    background-color: #ffffff
}

#core-frame-img {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#appcore-title {
    position: absolute;
    visibility: hidden;
    font-size: 3em;
    font-weight: normal;
    bottom: 0px;
    left: 43%;
    transform: translate(-50%, -30%);
}

#apian-logo {
    left: 480px;
    top: -5px;
}

#core-logic {
    left: 30px;
    top: 40px;
}

#core-work-arw {
    left: 60px;
    top: 80px;
}

#core-state {
    right: 30px;
    top: 30px;
}

#core-state-hole {
    left: 260px;
    top: 120px;
}

#plane-rd-lt {
    left: 395px;
    top: 100px;
    transform:rotate(-45deg);
}

#plane-rd-rt {
    left: 355px;
    top: 220px;
}

#plane-bl-lt {
    left: 432px;
    top: 220px;
    transform:rotate(45deg);
}

#plane-bl-rt {
    left: 316px;
    top: 135px;
}

#core-arw {
    left: 150px;
    top: 150px;
}

#apian {
    left: 60px;
    top: 450px;
}

#qmark {
    left: 120px;
    top: 420px;
}

#ap-core-arw {
    left: 140px;
    top: 355px;
}

#apian-work-arw {
    left: 100px;
    top: 465px;
}

#app-code {
    left: 310px;
    top: 440px;
}

#the-ai {
    left: 490px;
    top: 550px;
}

#app-eye {
    left: 310px;
    top: 294px;
}

#app-work-arw {
    left: 350px;
    top: 480px;
}

#app-core-arw {
    left: 180px;
    top: 238px;
}

#big-red-x {
    left: 110px;
    top: 250px;
}

#app-ap-arw {
    left: 210px;
    top: 520px;
}

#screen {
    left: 710px;
    top: 280px;
}

#app-scrn-arw {
    left: 620px;
    top: 380px;
}

#player {
    left: 790px;
    top: 380px;
}

#plyr-app-arw {
    left: 610px;
    top: 480px;
}

#spark1 {
    left: 0;
    top: 0;
}

#cmd1 {
    left: 0;
    top: 0;
}

#req1 {
    left: 0;
    top: 0;
}

#obs1 {
    left: 0;
    top: 0;
}

div.narrative {
    position: absolute;
    width: 1500px;
    text-align: left;
    margin-left: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.5em;
    visibility: visible;
    color: var(--nar-color);
}

.narrative.line1 {
    top: 470px;
}

.narrative.line2 {
    top: 520px;
}

.narrative.line3 {
    top: 570px;
}

.narrative.line4 {
    top: 620px;
}

.narrative.line5 {
    top: 670px;
}

.narrative.line6 {
    top: 720px;
}

.narrative.line7 {
    top: 770px;
}

.narrative.line8 {
    top: 820px;
}

.narrative.line9 {
    top: 870px;
}