
@font-face {
    font-family: "Virgil";
    src: url("https://virgil.excalidraw.com/Virgil.woff2");
}

body {
    margin: 0;
    overflow: hidden;
}

img {
    position: absolute;
}

.shuttle {
    position: fixed;
    z-index: 1000;
    padding: 4px 2px 4px 2px;
    border-radius: 4px;
    background-color: #e6c764;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.shuttle > div {
    display: inline-block;
    padding: 2px 2px 0px 2px;
    margin: 0px 4px 0px 4px;
    border-radius: 4px;
}

.shuttle div#searchlabels {
    padding: 0px 2px 0px 0px;
    font-size: 18px;
}

div.goto-enabled > div#searchlabels {
    background-color: #ffe88b;
}

.shuttle:not(.shuttle-disabled) > div:hover {
    background-color: #FFA400;
}

div.shuttle-disabled > div {
    visibility: hidden;
}

div.shuttle-disabled div.goto {
    visibility: hidden;
}

div:not(.goto-enabled) > div.goto {
    display: none;
}

div.goto > select {
    background-color: #ffe88b;
    font-family: "Virgil";
    font-size: 14px;
}

.main {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Virgil";
}

.slide {
    position: absolute;
    height: 900px;
    width: 1600px;
    text-align: center;
}

.slide-title {
    margin-top: .75em;
    margin-bottom: 0;
    visibility: hidden;
    font-size: 3em;
}

.slide-content {
    position: absolute;
    margin: 0;
    padding: 0;
}

.text-line {
    text-align: left;
    margin-left: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.2em;
    visibility: hidden;
}

.text-line2 {
    text-align: left;
    margin-left: 5em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.2em;
    visibility: hidden;
}

.mv-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.bk-y {
    background-color: #ffe88b;
}

.anim {
    position: absolute;
    visibility: hidden;
}
