
@font-face {
    font-family: "Virgil";
    src: url("https://virgil.excalidraw.com/Virgil.woff2");
}

body {
    margin: 0;
    width: 100%;
}


.main {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Virgil";
    width: 100%;
}

.logo {
    position: absolute;
    left: 40%;
    top: 0;
    margin: 0;
    padding: 0;
    width: 180px;
}

.title {
    text-align: center;
    font-size: 3em;
    left: 50%;
    margin: 1em;
}


.text-line {
    text-align: left;
    margin-left: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.2em;

}

.bk-y {
    background-color: #ffe88b;
}
